In [1]:
import pandas as pd
import numpy as np

In [4]:
data1 = pd.read_csv('各年齡層女性持卡人於六都消費樣態.CSV')
data1.head()

       年月        地區 產業別  性別        年齡層  信用卡交易筆數  信用卡交易金額[新台幣]
0  201401  63000000   食   2      未滿20歲     2819       2615745
1  201401  63000000   食   2  20(含)-25歲    66270      66794381
2  201401  63000000   食   2  25(含)-30歲   227091     263753101
3  201401  63000000   食   2  30(含)-35歲   396113     490378285
4  201401  63000000   食   2  35(含)-40歲   498370     618092602

In [5]:
data2 = pd.read_csv('各年齡層男性持卡人於六都消費樣態.CSV')
data2.head()

       年月        地區 產業別  性別        年齡層  信用卡交易筆數  信用卡交易金額[新台幣]
0  201401  63000000   食   1      未滿20歲     2517       6593139
1  201401  63000000   食   1  20(含)-25歲    33808      39858219
2  201401  63000000   食   1  25(含)-30歲   165901     217570879
3  201401  63000000   食   1  30(含)-35歲   332190     461164007
4  201401  63000000   食   1  35(含)-40歲   401017     579782560

In [6]:
data1.describe()

                  年月            地區       性別       信用卡交易筆數  信用卡交易金額[新台幣]
count   59388.000000  5.938800e+04  59388.0  5.938800e+04  5.938800e+04
mean   201778.603960  6.550000e+07      2.0  6.910134e+04  1.556900e+08
std       243.504102  1.707840e+06      0.0  2.125277e+05  5.705419e+08
min    201401.000000  6.300000e+07      2.0  1.000000e+01  2.502200e+04
25%    201602.000000  6.400000e+07      2.0  2.532500e+03  6.804110e+06
50%    201803.000000  6.550000e+07      2.0  1.565800e+04  4.177151e+07
75%    202004.000000  6.700000e+07      2.0  4.840700e+04  1.128995e+08
max    202205.000000  6.800000e+07      2.0  3.300227e+06  2.191190e+10

In [7]:
data1.info() #檢視資料型態

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59388 entries, 0 to 59387
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   年月            59388 non-null  int64
 1   地區            59388 non-null  int64
 2   產業別           59388 non-null  object
 3   性別            59388 non-null  int64
 4   年齡層           59388 non-null  object
 5   信用卡交易筆數       59388 non-null  int64
 6   信用卡交易金額[新台幣]  59388 non-null  int64
dtypes: int64(5), object(2)
memory usage: 3.2+ MB

In [11]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59388 entries, 0 to 59387
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   年月            59388 non-null  int64
 1   地區            59388 non-null  int64
 2   產業別           59388 non-null  object
 3   性別            59388 non-null  int64
 4   年齡層           59388 non-null  object
 5   信用卡交易筆數       59388 non-null  int64
 6   信用卡交易金額[新台幣]  59388 non-null  int64
dtypes: int64(5), object(2)
memory usage: 3.2+ MB

In [10]:
print(data1.isnull().sum()) #探索遺漏值

年月              0
地區              0
產業別             0
性別              0
年齡層             0
信用卡交易筆數         0
信用卡交易金額[新台幣]    0
dtype: int64

In [12]:
print(data2.isnull().sum())

年月              0
地區              0
產業別             0
性別              0
年齡層             0
信用卡交易筆數         0
信用卡交易金額[新台幣]    0
dtype: int64